<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block 'styles' %}{% endblock 'styles' %}


    <title> {% block 'title' %}{% endblock 'title' %}</title>
</head>
<body>
    
    {% include "layout/partials/menu.html" %}

    <main>
        {% block 'content' %}
        
        
        {% endblock 'content' %}


    </main>
    {% block 'scripts' %}{% endblock 'scripts' %}
</body>
</html>