{% extends 'layout/base.html' %}
{% block 'title' %}Usuarios{% endblock 'title' %}


{% block 'content' %}
<form class="search" action="{% url 'user_list' %}" method="GET">
    <input type="text" name="search" class="search-bar" placeholder="Buscar un usuario...">
    <input type="submit" class="btn btn-search" value="Buscar">
</form>
<span class="btn-aux">
    <a href="{% url "user_list" %}" >Ver todos</a> 
    <a href="{% url "user_create" %}">Añadir</a> 

</span>


<ul class="list">
    {% for user in users %}
    
    <li>{{user.username}} 
        <span class="btn-group">
            <a href="{% url 'user_detail' id=user.id %}" class="btn btn-detail">Ver</a>
            <a href="{% url 'user_update' id=user.id %}" class="btn btn-edit">Editar</a>
            <form  action="{% url 'user_delete' id=user.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-delete">Borrar</button>
            </form>        
        </span> 
    </li>

    {% endfor %}
  



</ul>
{% endblock 'content' %}
